/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;
  height: 300px;
}

// Mat Dialog content size Start
.mat-dialog-container-Data {
  width: 100vw !important;
  min-width: 3vw !important;
  max-width: 70vw !important;
  height: auto !important;
  min-height: 10vh !important;
  max-height: 110vh !important;
}
// Mat Dialog content size End

// conmmon classes defined Start
.centerAlign {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.noPadding {
  padding: 0 0 0 0 !important;
}
// conmmon classes defined End
