<div class="mat-elevation-z8">
  <mat-table table [dataSource]="dataList">
    <!-- <mat-text-column name="score"></mat-text-column> -->
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Selector Column -->
    <ng-container matColumnDef="selector">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="onSelectAll($event)"> </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [checked]="element.selector"
          (change)="onSelecter($event, element)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- WebReferance Column -->
    <ng-container matColumnDef="webReference">
      <th mat-header-cell *matHeaderCellDef>WebReference</th>
      <td mat-cell *matCellDef="let element">{{ element.webReference }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <span class="icoButtons">
          <i
            (click)="addRow($event)"
            class="fa-solid fa-square-plus fa-2x"
            aria-hidden="true"
            style="color: rgb(33 235 142 / 88%)"
          ></i>

          <i
            (click)="deleteSelectedRow($event)"
            class="fa-solid fa-trash-arrow-up fa-2x"
            aria-hidden="true"
            style="color: rgb(255 69 69)"
          ></i>
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="icoButtons">
          <i
            (click)="editRow($event, element)"
            class="fa-solid fa-pen-to-square fa-2x"
            aria-hidden="true"
            style="color: rgba(74, 80, 190, 0.88)"
          ></i>

          <i
            (click)="deleteRow($event, element)"
            class="fa-solid fa-trash fa-2x"
            aria-hidden="true"
            style="color: indianred"
          ></i>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row 
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<div>
  <h3>
    Click Log
  </h3>
</div>

<div *ngIf="!clickedRows.size">
  Clicked rows will be logged here
</div>

<ul>
  <li *ngFor="let clickedRow of clickedRows">
    Clicked on {{clickedRow.name}}
  </li>
</ul>
