// Selcted row bold Start

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    height: 2.75rem;
  }
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

// Selcted row bold End

tr {
  display: flex;
  align-items: center;
  // height: 10%;

  th {
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;

    font-weight: bold;
    font-size: 16px;
    // word-spacing: 0.1rem;
  }

  td {
    font-size: 16px;
    align-items: left;
    // word-spacing: 0.1rem;
  }
}

.cell_Prop {
  border-right: 1px solid currentColor;
  // width: 100%;
  word-break: break-all;
  padding-left: 2%;
  padding-right: 2%;
  // font-size: 18px;
}

.mat-column-groupNo {
  @extend .cell_Prop;
  width: 30%;
}

.mat-column-groupName {
  @extend .cell_Prop;
  width: 45%;
}

.mat-column-description {
  @extend .cell_Prop;
  width: 45%;
}

.mat-column-action {
  @extend .cell_Prop;
  width: 35%;
}

// Sorting symbol Start
::ng-deep .mat-sort-header-arrow {
  transform: none !important;
  opacity: 1 !important;
  color: #3f3d2b;
}

// Sorting symbol End

// icons defined Start
.icoButtons {

  i,
  .mat-icon {
    margin: 5% 1% 1% 1%;
    font-size: 1.25em;
  }

  // i:last-child,
  // .mat-icon:last-child {
  //   margin-right: 0;
  // }
}

// icons defined End

// Filter Box Start
mat-form-field.filterBox {
  display: flex;
  justify-content: right;
  padding-right: 2%;

  mat-icon {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1.7rem;
  }

  div {
    width: 100px;
  }

  input {
    padding-left: 20px;
  }
}

// Filter Box End

// No Data Message Start
.mat-no-data-row td {
  color: rgb(194, 20, 20);
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

// No Data Message End