<mat-card class="mat-elevation-z8">
  <div class="row">
    <button mat-raised-button class="boxed_btn" color="primary" (click)="openSelectedGroup($event)">Create
      Group</button>
    <mat-form-field appearance="standard" class="filterBox">
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="Filter Data" #input />
      <mat-icon *ngIf="!input.value" matSuffix>search</mat-icon>
      <button mat-button *ngIf="input.value" matSuffix mat-icon-button (click)="clearFilter($event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <mat-table table [dataSource]="groupListPaginated" matSort (matSortChange)="announceSortChange($event)">

    <!--Group Name Column -->
    <ng-container matColumnDef="groupNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Group No.</th>
      <td mat-cell *matCellDef="let element">{{ element.groupNo }}</td>
    </ng-container>

    <!-- Group Name Column -->
    <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Group Name</th>
      <td mat-cell *matCellDef="let element">{{ element.groupName }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <span class="icoButtons">

          <mat-icon (click)="addRow($event)" aria-hidden="true" aria-label="Open" style="color: rgb(33 235 142 / 88%)">
            add</mat-icon>
        </span>
        Action
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="icoButtons">


          <mat-icon (click)="editRow($event, element)" aria-hidden="true" aria-label="Open"
            style="color: rgba(74, 80, 190, 0.88)">visibility</mat-icon>
          <mat-icon (click)="editRow($event, element)" aria-hidden="true" aria-label="Open"
            style="color: rgba(74, 80, 190, 0.88)">edit</mat-icon>
          <mat-icon (click)="deleteRow($event, element)" aria-hidden="true" aria-label="Open" style="color: indianred">
            delete</mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">
        No data found with the filter "{{ input.value }}"
      </td>
    </tr>
  </mat-table>

  <mat-paginator [length]="groupList.length" [pageSize]="selectedPageSize" [pageSizeOptions]="pageSizeOption"
    showFirstLastButtons aria-label="Select page of Data">
  </mat-paginator>
</mat-card>